.grid {
	width: 300px;
	height: 300px;
	border: solid black 1px;
	display: flex;
	flex-wrap: wrap;
}

.grid div {
	width: 20px;
	height: 20px;
}

.invader {
	background-color: purple;
	border-radius: 10px;
}

.shooter {
	background-color: green;
}

.laser {
	background-color: orange;
}

.boom {
	background-color: red;
}
/* mine */
body {
	margin: 0;
	padding: 0;
	background-color: rgb(197, 148, 148);
  }
  
  .grid {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
  .heading,
  h1 {
	text-align: center;
  }
  
  #result {
	color: rgb(137, 34, 34);
	text-align: center;
  }
  /* confetti */
  .confetti i {
	width: 3rem;
	height: 3rem;
	margin: 0 0.2rem;
	animation-name: confetti;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: calc(60s / var(--speed));
  }
  
  .confetti i:nth-child(even) {
	transform: rotate(90deg);
  }
  
  @keyframes confetti {
	0% {
	  transform: translateY(-100vh);
	}
  
	100% {
	  transform: translateY(100vh);
	}
  }